#crystal01 {
    width:300px;
    height:300px;

}
#crystal02{
    width:300px;
    height:300px;
}

#crystal03{
    width:300px;
    height:300px;
}

#crystal04{
    width:300px;
    height:300px;
}